<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cảm ơn bạn!</title>
    <link rel="stylesheet" href="./../public/css/emailStyles.css">
</head>
<body> 
    <div>
        <p>xin chào <strong>{{fullname}}</strong>,</p>
        <p>cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>
        <p>chúng tôi xác nhận bạn đã đặt vé xem phim của <strong>{{cinemaName}}</strong> thành công lúc <strong>{{orderdate}}</strong></p>
        <p>chi tiết vé như sau :</p>
        <p>Mã đặt vé : <strong>{{orderId}}</strong></p>
        <p>thời gian chiếu :  <strong>{{showtimeStart}}</strong></p>
        <p>phim :  <strong>{{title}}</strong></p>
        <p>phòng chiếu : <strong>{{room}}</strong></p>
        <p>số ghế: <strong>{{seats}}</strong></p>
        <p>Danh sách món ăn và đồ uống:</p>
        <ul>
            {{#each foodAndDrinks}}
            <li>{{quantity}}x {{item_id.name}} - {{item_id.price}} VND</li>
            {{/each}}
        </ul>
        <p>rạp chiếu : <strong>{{cinemaName}}</strong></p>
        <p>tổng tiền : <strong>{{totalPrice}}</strong></p>
        <p>Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng tôi.</p>
    </div>
    
    <p>Đây là mã QR Code của đơn hàng của bạn:</p>
    
   
</body>
</html>
